body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edeaff;
}


.counter {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/background.png);
    width: 50vw;
    height: 50vh;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.counter-number {
    align-self: center;
    width: 16rem;
    margin-left: 1rem;
}

.counter-number .number {
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: #4bff72;
    border: 3px solid #00ff00;
    border-radius: 2.5rem;
    transition: 0.4s ease-in-out;
}

.counter-number .number:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #00ff00;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 1.5rem;
    margin-left: 1rem;
    background-color: #000000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    border: 2px solid #685454;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}


button:hover {
    transform: scale(1.2);
    box-shadow: 0 0 25px #000000;
}


